body {
    background-color: #00B8FF;
    margin: 0 !important;
    padding: 0 !important;
    color: white;
    height:100%;
}

.topnav {
    height:8vh;
    overflow: hidden;
    font-family: 'Oswald';
    width: 100%;
    list-style: none;
    text-align: right;
    background-color: rgba(62, 62, 62, 1);
    border-bottom: 3px solid #1d1d1d;
}

.logo {
    float: left;
    vertical-align: middle;
}

.menu {
    display: inline-block;
    margin-top: 19px;
}

.topnav a {
    padding: 20px;
    text-decoration: none;
    color: #ffffff;
}

#icon {
    display: none;
}

.content {
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .topnav {
        font-size: 125%;
        overflow: visible;
        height:12vh;
        min-height: 50px;
    }
    .logo {
        float:left;
        display: inline-block;
        padding-top: 7px;
    }
    .topnav img {
        width: 166.6px;
        height: 50px;
    }
    .menu {
        display: none;
    }
    .dropdown {
      padding-top: 5px;
      z-index: 10;
    }
    #icon {
      display: inline-block;
      padding: 10px;
      vertical-align: middle;
        cursor: pointer;
        padding: 10px;
        padding-right: 20px;
        font-size: 120%;
    }
    #icon:hover {
        color: #f2f2f2;
    }
    .dropmenu {
        display: block;
    }
    .dropmenu a {
        display: block;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #515151;
        color: white;
    }
    .dropmenu a:hover {
        color: #f2f2f2;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .topnav {
        font-size: 125%;
        padding-left: 5%;
        padding-right: 5%;
        height:10vh;
        min-height: 60px;
    }
    .menu {
        display: inline-block;
        margin-right: 5%;
    }
    .logo {
      float:left;
      display: inline-block;
      padding: 1px;
    }
    .topnav img {
        width: 208.3px;
        height: 62.5px;
    }
    .topnav a:hover {
        color: #00B8FF;
    }
    #icon {
        display: none;
    }
    .dropdown {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .topnav {
        font-size: 150%;
        padding-left: 15%;
        padding-right: 15%;
        min-height: 75px;
    }
    .logo {
      float:left;
      display: inline-block;
    }
    .topnav img {
        width: 250px;
        height: 75px;
    }
    .menu {
        display: inline-block;
    }
    .topnav a:hover {
        color: #00B8FF;
    }
    .dropdown {
        display: none;
    }
}
