.btn btn-info button{
  margin: 0 auto;
width: 60%;
margin-top: 60%;
 padding: 20px;
 background-color: #00b8ff;
 color: rgba(62, 62, 62, 1);
 border: 1px solid white;
 font-size:120%;
 font-weight: bold;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover{
  margin: 0 auto;
  margin-top: 60%;
  width: 60%;
 top:10%;
 padding: 20px;
 background-color: #00b8ff;
 color: rgba(62, 62, 62, 1);
 border: 1px solid white;
 font-size:120%;
 font-weight: 800;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
